.main {
    height: 90%;
    width: 100%;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main>h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/* FORMULARIO PARA AGREGAR UN RELOJ*/
form.formulario {
    margin: 1em auto 3em auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;

}

.flex-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.flex-container input,
select {
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 4px;
}

/*
            QUITAR  
*/
input[type="date"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.5s;
}

input[type="submit"]:hover {
    background-color: #bdbdbd;
    transform: translateY(-2px);
}

textarea {
    font-family: 'Oswald', sans-serif;
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 4px;
}


input[type="file"]::file-selector-button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 18px;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-family: 'Oswald', sans-serif;
}

input[type="file"]::file-selector-button:hover {
    background-color: #bdbdbd;
}