.main {
    height: 90%;
    margin-top: 8em;
}

.tituloCarrito {
    text-align: center;
}

.productos-carrito-container {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    margin: 5% 0% 5% 5%;
    gap: 5%;
}

.container-mensaje-productos-carrito {
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    margin: 5% 0% 5% 0%;
}

.mensajeProductosCarrito {

    max-width: 19em;
    /* height: 7em;*/
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}

.linkMensaje {
    text-decoration: none;
}

.botonVerProductos {
    background-color: #efefef;
    min-height: 2em;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    color: black;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
}

.botonVerProductos>p {
    margin: auto;
}

.botonVerProductos:hover {
    background-color: #bdbdbd;
    transform: translateY(-1px);
}

.containerProductosCarrito {
    width: 65%;
}

.container-comprar-todo-envio {
    width: 30%;
    position: fixed;
    right: 0;
}

.comprar-todo-container {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
}

.detalles-compra {
    display: flex;
    flex-direction: column;
}

.coste-envio,
.valor-productos {
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%;
}

.coste-IVA {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%;
}

.linea-separadora {
    height: 1px;
    border: 1px solid #efefef;
    width: 90%;
}

.tiempo-envio {
    background-color: #efefef;
    margin: 0;
    height: 3em;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.tiempo-envio>p {
    margin: 0 1em 0 1em;
    font-size: 0.9rem;
}


.info-producto-container {
    display: flex;
}

.info-producto-container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informacionCarrito {
    margin-top: 10px;
}

.contenedorAnadirEliminar {
    display: flex;
    flex-direction: column;
}

.producto {
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
}

#mas,
#menos {
    background-color: #efefef;
    width: 1em;
    height: 1em;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    transition: background-color 0.2s;
}

#mas>p,
#menos>p {
    text-align: center;
    margin: 0;
    line-height: 1em;
}

#menos>p {
    margin-bottom: 8px;
}

.mas-menos-container>p {
    text-align: center;
    display: flex;
    justify-content: center;
}

.mas-menos-container {
    margin-right: 2em;
}

#mas:hover,
#menos:hover {
    background-color: #bdbdbd;
}





.desconexion {
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
}

.desconexion:hover {
    text-decoration: underline;
}


button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-bottom: 1em;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

button:hover {
    background-color: #bdbdbd;
    transform: translateY(-1px);
}

.comprar {
    margin-bottom: -1;
}