


.tituloCarrito{
    text-align: center;
}

.productos-carrito-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10%;
    gap: 5%;
    
}

.containerProductosCarrito{
    width: 100%;
}

.info-producto-container{
    display: flex;
}
.info-producto-container > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informacionCarrito{
    margin-top: 10px;
}
.producto{
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center; /* Centra verticalmente los elementos */
}

.mas, .menos{
    background-color: #efefef;
    width: 1em; /* Aumenté un poco el ancho para dar espacio al símbolo "+" */
    height: 1em; /* Aumenté un poco la altura para dar espacio al símbolo "+" */
    border-radius: 30%;
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    font-size: xx-large;
    transition: background-color 0.2s;
}
.mas > p,
.menos > p {
    text-align: center; /* Alinea el texto horizontalmente */
    margin: 0; /* Elimina el margen para evitar desplazamientos */
    line-height: 1em; /* Ajusta la altura de línea para centrar verticalmente */
}

.menos>p{
    margin-bottom: 8px;
}
.mas-menos-container > p{
    text-align: center;
    display: flex;
    justify-content: center;
}

.mas-menos-container {
    margin-right: 2em;
}

.mas:hover, .menos:hover{
    background-color: #bdbdbd;
}





.desconexion{
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
}

.desconexion:hover{
    text-decoration: underline;
}


button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-bottom: 1em;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

button:hover {
    background-color: #bdbdbd;
}