


.tituloCarrito{
    text-align: center;
}

.productos-carrito-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10%;
    gap: 5%;
    
}

.producto{
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 40em;
    justify-content: space-around;
    border-radius: 10px;
}


.desconexion{
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
}

.desconexion:hover{
    text-decoration: underline;
}


button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-bottom: 1em;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

button:hover {
    background-color: #bdbdbd;
}