.main {
    height: 100%;
    width: 100%;
    margin-top: 14vh;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.main>h1 {
    text-align: center;
}

table,
tr,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    width: 95%;
    height: 100%;
    margin-bottom: 1em;
    transition: font-size 0.3s ease, width 0.3s ease;
}

td {
    align-items: center;
    text-align: center;
    width: 25%;
}

th {
    background-color: #bdbdbd;
    padding: 4px;
}



button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 1em;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    transition: transform 0.3s ease, background-color 0.5s, font-size 0.3s ease, padding 0.3s ease;
}

button:hover {
    background-color: #bdbdbd;
    transform: translateY(-2px);
}

@media screen and (max-width:565px) {
    table {
        font-size: 0.9rem;
        width: 80%;
        transition: font-size 0.3s ease, width 0.3s ease;

    }


    button {
        font-size: 0.9rem;
        padding: 5px 10px;
        margin: 0.5em 0.2em;
        transition: font-size 0.3s ease, padding 0.3s ease, margin 0.3s ease;
    }
}


@media screen and (max-width:457px) {
    table {
        font-size: 0.75rem;
        transition: font-size 0.3s ease;

    }


    button {
        font-size: 0.75rem;
        transition: font-size 0.3s ease;
    }
}