.main {
    height: 90%;
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main>h1 {
    text-align: center;
}



.container-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: 5em;
    grid-auto-rows: auto;
    align-items: center;
}

.producto {
    display: flex;
    flex-direction: column;
    /* Agregar display flex */
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    /* Alineación horizontal */
    text-align: center;
    /*width: 15em;*/
    margin-bottom: 5%;
}

.producto .info img {
    width: 200px;
    /* Ancho deseado para la imagen */
    height: 300px;
    /* Altura deseada para la imagen */
    object-fit: cover;
    /* La imagen se ajustará para cubrir el contenedor */
}


.info>p,
.info>img {
    text-align: center;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 1em;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    transition: transform 0.3s ease, background-color 0.5s;
}

button:hover {
    background-color: #bdbdbd;
    transform: translateY(-2px);
}