@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

footer {
    position: absolute;
    /*bottom: 0; ---- PORQUE SI LA PANTALLA OCUAP MAS DE LO DEBIDO SE QUEDA ARRIBA*/
    background-color: #efefef;
    width: 100%;
    /*height: 30%;*/
    border-top: solid 2px black;
}

.contenedor-items-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-imagen {
    display: flex;
}

.imagen {
    z-index: 1000;
    width: 5em;
}

.contenedor-info-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}

.contenedor-privacidad {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}


.contenedor-privacidad>p {
    margin: 0.5em;
    font-size: 0.9rem;
}

.contenedor-final-footer {
    text-align: center;
    width: 100%;
    border-top: solid 2px black;
}

.contenedor-info-footer p {
    position: relative;
    display: inline;
    width: 50%;
    margin: 0.5em auto;
    cursor: pointer;
}

.contenedor-info-footer p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease;
}

.contenedor-info-footer p:hover::after {
    width: 100%;
}


.leyes-contenedor,
.info-contacto-contenedor,
.quienes-somos-contenedor,
.ubicacion-contenedor,
.preguntas-frecuentes-contenedor {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    /* Reducimos el ancho para dejar espacio para los márgenes */
    max-width: 800px;
    /* Tamaño máximo opcional */
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80%;
    /* Limitamos la altura para dejar espacio para los márgenes */
    overflow-y: auto;
    /* Agregamos desplazamiento vertical si es necesario */
    margin-bottom: 20px;
    /* Margen en la parte inferior */
    margin-left: auto;
    /* Margen izquierdo automático */
    margin-right: auto;
    /* Margen derecho automático */
}


.contenedor-cont-apartados-footer {
    padding: 5px;
}

.contacto>div,
.contacto>div>a {
    display: flex;
    text-decoration: none;
    color: black;
}

.contacto>div>a:hover {
    display: flex;
    text-decoration: none;
    color: rgb(209, 0, 0);
}

.cerrar,
.cerrar-info-contacto,
.cerrar-quienes-somos,
.cerrar-ubicacion,
.cerrar-preguntas-frecuentes {
    position: absolute;
    top: -21px;
    right: 5px;
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.cerrar:hover,
.cerrar-info-contacto:hover,
.cerrar-quienes-somos:hover,
.cerrar-ubicacion:hover,
.cerrar-preguntas-frecuentes:hover {
    transform: translateY(-1px);
}

.sin-margen {
    margin: 0;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.pregunta-contenedor {
    margin: 0.5em 0;
}

.pregunta-frecuente {
    cursor: pointer;
    background-color: #e7e7e7;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    transition: background-color 0.3s;
}

.respuesta {
    display: none;
    padding: 0.5em;
    border: 2px solid #e7e7e7;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.pregunta-frecuente:hover {
    background-color: #bdbdbd;
}



@media screen and (max-width: 400px) {
    .contenedor-info-footer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 870px) {

    .leyes-contenedor,
    .info-contacto-contenedor,
    .quienes-somos-contenedor,
    .ubicacion-contenedor,
    .preguntas-frecuentes-contenedor {
        top: 15%;
    }
}

@media screen and (max-height: 816px) {
    #quienes-somos-container {
        bottom: 10%;
    }

}

@media screen and (max-height: 700px) {
    .iframe-container {
        padding-bottom: 35%;
    }
}

@media screen and (max-height: 700px) {
    .preguntas-frecuentes-contenedor {
        bottom: 9%;
    }
}