@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

footer {
    position: absolute;
    /*bottom: 0; ---- PORQUE SI LA PANTALLA OCUAP MAS DE LO DEBIDO SE QUEDA ARRIBA*/
    background-color: #efefef;
    width: 100%;
    /*height: 30%;*/
    border-top: solid 2px black;
}

.contenedor-items-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-imagen {
    display: flex;
}

.imagen {
    z-index: 1000;
    width: 5em;
}

.contenedor-info-footer {
    display: flex;
    justify-content: space-between;
    width: 95%;
    gap: 1em;
    margin-bottom: 1em;
    align-items: center;
}

.contenedor-privacidad {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}

.contenedor-privacidad>p {
    margin: 0.5em;
}

.contenedor-final-footer {
    text-align: center;
    width: 100%;
    border-top: solid 2px black;
}

.contenedor-info-footer p {
    position: relative;
    display: inline;
    width: 50%;
    margin: 0.5em auto;
    cursor: pointer;
}

.contenedor-info-footer p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease;
}

.contenedor-info-footer p:hover::after {
    width: 100%;
}

.leyes-contenedor,
.info-contacto-contenedor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 9999;
}

.contenedor-cont-apratados-footer {
    padding: 10px;
}

.contacto>div,
.contacto>div>a {
    display: flex;
    text-decoration: none;
    color: black;
}

.contacto>div>a:hover {
    display: flex;
    text-decoration: none;
    color: rgb(209, 0, 0);
}



.cerrar,
.cerrar-info-contacto {
    position: absolute;
    top: -21px;
    right: 5px;
    font-size: 3rem;
    cursor: pointer;
}

.sin-margen {
    margin: 0;
}