@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

footer{
    position: absolute;
    /*bottom: 0; ---- PORQUE SI LA PANTALLA OCUAP MAS DE LO DEBIDO SE QUEDA ARRIBA*/ 
    background-color: #efefef;
    width: 100%;
    /*height: 30%;*/
    border-top: solid 2px black;
}

.contenedor-items-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-imagen{
    display: flex;
}

.imagen{
    z-index: 1000;
    width: 5em;
}

.contenedor-info-footer{
    display: flex;
    justify-content: space-between;
    width: 95%;
    gap: 1em;
    margin-bottom: 1em;
    align-items: center;
}

.contenedor-privacidad{
    display: flex;
    flex-direction: column;
}

.contenedor-privacidad>p{
    margin: 0.5em;
}

.contenedor-final-footer{
    text-align: center;
    width: 100%;
    border-top: solid 2px black;
}