@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;

}

* {
    box-sizing: border-box;
}

.menuPrincipal {
    /* position: fixed;
    top: 0; /* Lo fija en la parte superior de la ventana */
    /*  left: 0; /* Lo fija en el borde izquierdo de la ventana */
    /* width: 100%; /* Ancho completo de la ventana */
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: #efefef;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: solid black 2px;
    align-items: center;
}

.containerMenuSecundario {
    display: flex;
    cursor: pointer;
}

.containerMenuSecundario>img,
.menu {
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

.buscadorContainer {
    position: fixed;
    z-index: 998;
    left: -100%;
    top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    color: white;
    transition: left 0.3s ease-in-out;
    border-bottom: solid black 1px;
}

.buscadorContainer.activo {
    left: 0;
    top: 10%;
}



.containerBuscador {
    display: flex;
    margin: auto;
}

.containerIconos {
    display: flex;
    gap: 1em;
    margin-right: 0.5em;
}

.carrito,
.iconoInicioSesion,
.lupa {
    margin: auto;
}

.lupa {
    cursor: pointer;
}


.containerBusqueda {
    display: flex;
    margin: auto;
    animation: busqueda 0.5s;
}

#buscador {
    margin: auto;
    border: none;
    font-size: 1rem;
    height: 1.5em;
    background-color: #efefef;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
    margin-top: 4px;
}



#buscador:focus {
    outline: none;
}

input {
    font-family: 'Oswald', sans-serif;
}


@keyframes busqueda {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contenedor del desplegable */
.desplegable {
    width: 7.6em;
}

/* Botón del desplegable */
.botonDesplegar {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    background-color: #efefef;
    margin: 0;
}

.botonDesplegar:hover {
    background-color: #f9f9f9;
    transform: translateY(-1px);
}

.containerDesplegable {
    position: fixed;
    z-index: 999;
    left: -150px;
    width: 150px;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    color: white;
    top: 10%;
    transition: left 0.3s ease;
    border-right: 2px solid black;
    text-align: center;
}

.containerDesplegable.activo {
    left: 0;

    /* Muestra el panel lateral cuando tiene la clase 'active' */
}

.containerDesplegable a {
    color: black;
    padding: 5px 16px;
    width: 60%;
    display: block;
    margin-top: 10%;
}

.containerDesplegable a:hover {
    background-color: #f1f1f1;
}

.dropdown.open .containerDesplegable {
    display: block;
}



.desconexion {
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
}

.desconexion:hover {
    text-decoration: underline;
}

.containerIconos>* {
    transition: transform 0.3s ease;
}

.containerIconos>*:hover {
    transform: translateY(-2px);
}

.apartados-desplegable {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1.25rem;
    text-decoration: none;
}

.apartados-desplegable::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: red;
    /* Cambia el color del subrayado aquí */
    transition: width 0.4s ease;
}

.apartados-desplegable:hover::after {
    width: 100%;
}