@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;

}

* {
    box-sizing: border-box;
}

.menuPrincipal {
    /* position: fixed;
    top: 0; /* Lo fija en la parte superior de la ventana */
    /*  left: 0; /* Lo fija en el borde izquierdo de la ventana */
    /* width: 100%; /* Ancho completo de la ventana */
    display: flex;
    justify-content: space-between;
    height: 5em;
    background-color: #efefef;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

.containerMenuSecundario {
    display: flex;
    cursor: pointer;
}

.containerMenuSecundario>img,
.menu {
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

.containerIconos {
    display: flex;
    gap: 1em;
    margin-right: 1em;
}

.carrito,
.iconoInicioSesion,
.lupa {
    margin: auto;
}

.lupa {
    cursor: pointer;
}


.buscadorContainer {
    position: fixed;
    top: 4.7em;
    width: 100%;
    background-color: #efefef;
    animation: busqueda 0.5s;
}

.containerBusqueda {
    display: flex;
    margin: auto;

    animation: busqueda 0.5s;
    animation-name: mostrarDesdeArriba;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

#buscador {
    animation: busqueda 0.5s;
    animation-name: mostrarDesdeArriba;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    margin: auto;
    border: none;
    font-size: 1rem;
    height: 1.5em;
    background-color: #efefef;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
    font-family: 'Oswald', sans-serif;
}

/* Definimos la animación para ocultar de abajo hacia arriba */
@keyframes ocultarHaciaArriba {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

/* Aplicamos la animación al contenedor de búsqueda cuando se cierra */
.cerrarBusqueda {
    animation-name: ocultarHaciaArriba;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}



#buscador:focus {
    outline: none;
}

input {
    font-family: 'Oswald', sans-serif;
}


@keyframes busqueda {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contenedor del desplegable */
.desplegable {
    margin: auto 0;
    margin-right: 1em;
    width: 6.5em;
}

/* Botón del desplegable */
.botonDesplegar {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    background-color: #efefef;
}

.botonDesplegar:hover {
    background-color: #f9f9f9;
}

.containerDesplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: 10%;
}

.containerDesplegable a:hover {
    background-color: #f1f1f1;
}

.dropdown.open .containerDesplegable {
    display: block;
}

.containerDesplegable {
    position: fixed;
    z-index: 99;
    left: -150px;
    width: 150px;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    color: white;
    top: 4.7em;
    transition: left 0.3s ease;
}

.containerDesplegable.activo {
    left: 0;

    /* Muestra el panel lateral cuando tiene la clase 'active' */
}

.desconexion {
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
}

.desconexion:hover {
    text-decoration: underline;
}