@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

.menuPrincipal {
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: #efefef;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: solid black 2px;
    align-items: center;
}

.containerMenuSecundario {
    display: flex;
    cursor: pointer;
}

.containerMenuSecundario>img,
.menu {
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

.botonDesplegar>img {
    transition: width 0.3s ease, height 0.3s ease;
}

.container-logo {
    text-align: center;
}

.contenedor-logo>a {
    width: 100%;
    height: 100%;
}

.contenedor-logo>a>img {
    width: 30vw;
    height: 10vh;
    object-fit: contain;
    margin-bottom: -2%;
}

.buscadorContainer {
    position: fixed;
    z-index: 998;
    left: -100%;
    top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    color: white;
    transition: left 0.3s ease-in-out;
    border-bottom: solid black 1px;
}

.buscadorContainer.activo {
    left: 0;
    top: 10%;
}



.containerBuscador {
    display: flex;
    margin: auto;
}

.containerIconos {
    display: flex;
    gap: 1em;
    margin-right: 0.5em;
}


.carrito,
.iconoInicioSesion,
.lupa {
    margin: auto;
}

.lupa {
    cursor: pointer;
}


.containerBusqueda {
    display: flex;
    margin: auto;
}

#buscador {
    margin: auto;
    border: none;
    font-size: 1rem;
    height: 1.5em;
    background-color: #efefef;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
    margin-top: 4px;
}



#buscador:focus {
    outline: none;
}

input {
    font-family: 'Oswald', sans-serif;
}


/* Contenedor del desplegable */
.desplegable {
    width: 7.6em;
    transition: width 0.3s ease;
}

/* Botón del desplegable */
.botonDesplegar {
    padding-left: 5%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 0;
    background-color: transparent;
    transition: transform 0.3s;
}

.botonDesplegar:hover {
    transform: translateY(-1px);
    background-color: transparent;
}


.containerDesplegable {
    position: fixed;
    z-index: 999;
    left: -150px;
    width: 150px;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    color: white;
    top: 10%;
    transition: left 0.3s ease;
    border-right: 2px solid black;
    text-align: center;
}

.containerDesplegable.activo {
    left: 0;

    /* Muestra el panel lateral cuando tiene la clase 'active' */
}

.containerDesplegable a {
    color: black;
    padding: 5px 16px;
    width: 60%;
    display: block;
    margin-top: 10%;
}

.containerDesplegable a:hover {
    background-color: #f1f1f1;
}

.dropdown.open .containerDesplegable {
    display: block;
}



.desconexion {
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
}

.desconexion:hover {
    text-decoration: underline;
}

.containerIconos>* {
    transition: transform 0.3s ease;
}

.containerIconos>*:hover {
    transform: translateY(-2px);
}

.apartados-desplegable {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1.25rem;
    text-decoration: none;
}

.apartados-desplegable::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: red;
    /* Cambia el color del subrayado aquí */
    transition: width 0.4s ease;
}

.apartados-desplegable:hover::after {
    width: 100%;
}


.iconoInicioSesion>a>img {
    transition: width 0.3s ease, height 0.3s ease;
}

.lupaImagen {
    transition: width 0.3s ease, height 0.3s ease;
}

.carrito>a>img {
    transition: width 0.3s ease, height 0.3s ease;
}


@media screen and (max-height: 450px) {

    .desplegable {
        width: 7em;
        transition: width 0.3s ease;
    }


    .botonDesplegar {
        font-size: 0.9rem;
    }

    .botonDesplegar>img {
        width: 34px;
        height: 25px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .iconoInicioSesion>a>img {
        width: 25px;
        height: 25px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .lupaImagen {
        width: 22px;
        height: 22px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .carrito>a>img {
        width: 26px;
        height: 26px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .desconexion {
        width: 23px;
        height: 23px;
        transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
    }
}

@media screen and (max-height: 400px) {

    .desplegable {
        width: 6.4em;
        transition: width 0.3s ease;
    }

    .iconoInicioSesion>a>img {
        width: 22px;
        height: 22px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .lupaImagen {
        width: 19px;
        height: 19px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .carrito>a>img {
        width: 23px;
        height: 23px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .desconexion {
        width: 20px;
        height: 20px;
        transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
    }
}

@media screen and (max-width: 320px) {


    .desplegable {
        width: 33%;

    }

    .contenedor-logo {
        width: 33%;
        text-align: center;
    }

    .containerIconos {
        width: 33%;
        gap: 0.2em;
    }


}