.main {
    height: 90%;
    margin-top: 15vh;
    margin-bottom: 5%;
}

form.formulario {
    margin: 0 auto 11em auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    transition: gap 0.3s ease;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.flex-container input {
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: padding 0.3s ease;
}


input[type="submit"] {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 1em;
    transition: transform 0.3s ease, background-color 0.5s;
}

input[type="submit"]:hover {
    background-color: #bdbdbd;
    transform: translateY(-2px);
}

.linkRegistroInicioSesion {
    margin-top: 2em;
    text-decoration: none;
    color: black;
}

.linkRegistroInicioSesion:hover {
    text-decoration: underline blue;
}

#errorDiv {
    display: none;
}

#error {
    color: red;
    margin: 0 auto 1em auto;
}

.flex-container>h2 {
    transition: margin-bottom 0.3s ease, margin-top 0.3s ease;
}

@media screen and (max-height: 520px) {

    .flex-container>h2 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .flex-container {
        gap: 0.5em;
        transition: gap 0.3s ease;
    }

    .flex-container input {
        padding: 4px 6px;
    }


}