.main {
    height: 90%;
    margin-top: 12vh;
    /*PONER EN TODOS*/
}

.producto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
    gap: 1em;
    align-items: center;
}

.imagen-producto-container {
    width: 60%;
    text-align: center;
    background-color: #f7f7f7;
    height: 100%;
}




.producto-imagen {
    object-fit: cover;
    /* La imagen se ajustará para cubrir el contenedor */
    width: 70%;

}

.info-container {
    width: 38%;

}


.info-container>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4em;
    min-font-size: 1.3vw;
}


button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-bottom: 1em;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    transition: transform 0.3s ease, background-color 0.5s;
}

button:hover {
    background-color: #bdbdbd;
    transform: translateY(-1px);
}

.grey {
    font-weight: 300;
    color: grey;
}

.linea-separadora {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 1em 0 0 0;
}

.texto-debajo-linea-separadora {
    text-align: center;
    margin: 1em 0;
    font-size: 1.1rem;
}

.mas-relojes-container {
    width: 100%;
    height: 9em;
    align-items: center;
    display: flex;
}

.scroll-horizontal {
    overflow-x: auto;
    /* Habilitar el scroll horizontal */
    white-space: nowrap;
    /* Evitar el salto de línea */
    /* Restar el ancho del scroll vertical */
    margin: 0 auto;
    /* Centrar el contenedor */
    height: 100%;
    display: flex;
    align-items: center;
}

.mas-relojes {
    display: inline-flex;
    gap: 1em;
    /* Mostrar los elementos uno al lado del otro */
}

.contenedor-imagen-mas-relojes {
    width: 6.5em;
    height: 6.5em;
    background-color: #dadada;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.contenedor-imagen-mas-relojes>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.producto-imagen-mas-relojes {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
}


.contenedor-imagen-mas-relojes:hover {
    transform: translateY(-3px);
}


#mas,
#menos {
    background-color: #efefef;
    width: 1em;
    height: 1em;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    transition: background-color 0.2s;
    cursor: pointer;
}

#mas>p,
#menos>p {
    text-align: center;
    margin: 0;
    line-height: 1em;
}

#menos>p {
    margin-bottom: 8px;
}

.mas-menos-container>p {

    width: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mas-menos-container {
    text-align: center;
    display: flex;
    gap: 1em;
    align-items: center;
}

#mas:hover,
#menos:hover {
    background-color: #bdbdbd;
}







@media screen and (max-width: 980px) {
    .producto-container {
        flex-direction: column;
        /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }

    .producto-imagen {
        width: 100%;

    }

    .imagen-producto-container {
        width: 100%;
    }

    .info-container {
        width: 100%;
        margin-top: 0;
    }
}


@media screen and (max-width: 900px) {
    .info-container>div {
        font-size: 0.8 rem;
        /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }
}

/* Estilos para la parte del track (fondo) de la barra de desplazamiento */
.scroll-horizontal::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 5px;
    /* Color de fondo del track */
}

/* Estilos para el thumb (manija) de la barra de desplazamiento */
.scroll-horizontal::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 5px;
}


.scroll-horizontal::-webkit-scrollbar {
    width: 0px !important;
}

.scroll-horizontal::-webkit-scrollbar-thumb {
    height: 0px !important;
}