.main {
    height: 90%;
    width: 100%;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main>h1 {
    text-align: center;
}

.container-productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
    gap: 5%;
}

.producto {
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    width: 13em;
    margin-bottom: 5%;
}



.info>p,
.info>img {
    text-align: center;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-bottom: 1em;
    margin: 1em;
    font-family: 'Oswald', sans-serif;

}

button:hover {
    background-color: #bdbdbd;
    transform: translateY(-1px);
}