

.desconexion{
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
}

.desconexion:hover{
    text-decoration: underline;
}


.intro{
    text-align: center;
}

.productos-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10%;
    gap: 5%;
}

.producto{
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    min-width: 25em;
}

.slogan{
    font-style: italic;
    color:#989898;
}

button{
    margin: 1em;
}

.intro{
    margin: auto 10%;
}

.intro > p{
    margin: auto 10%;
}

button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-bottom: 1em;
}

button:hover {
    background-color: #bdbdbd;
}

.grey{
    font-weight: 200;
    color: grey;
}