.intro {
    text-align: center;
}

.main {
    height: 90%;
    margin-top: 7.7em;
    /*PONER EN TODOS*/
}

.intro>h1 {
    padding-top: 0.68em;
}

.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: 5em;
    grid-auto-rows: auto;
    align-items: center;
}

.producto {
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    /*min-width: 25em;*/
    margin-bottom: 5%;
}

.producto-imagen {
    width: 200px;
    /* Ancho deseado para la imagen */
    height: 300px;
    /* Altura deseada para la imagen */
    object-fit: cover;
    /* La imagen se ajustará para cubrir el contenedor */
}


.slogan {
    font-style: italic;
    color: #989898;
}


.intro {
    margin: auto 10%;
}

.intro>p {
    margin: auto 10%;
}

button {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 1em;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    transition: transform 0.3s ease, background-color 0.5s;
}

button:hover {
    background-color: #bdbdbd;
    transform: translateY(-2px);
}

.grey {
    font-weight: 200;
    color: grey;
}

.mensajeBusqueda {
    position: absolute;
    background-color: #000000;
    width: 20em;
    height: 7em;
    top: 40%;
    /* Lo colocamos en el 50% del eje vertical */
    left: 50%;
    /* Lo colocamos en el 50% del eje horizontal */
    transform: translate(-50%, -50%);
    /* Lo movemos hacia arriba y hacia la izquierda en la mitad de su propio tamaño */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 2px solid rgb(69, 134, 255);
    border-radius: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: mensajeB 0.3s;
}

.mensajeBusqueda>p {
    font-size: 1.5rem;
    margin-bottom: 0;
    animation: mensajeB 0.3s;
}