@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

.menuPrincipal {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    height: 6em;
    background-color: #efefef;
}

.containerMenuSecundario {
    display: flex;
    cursor: pointer;
}

.containerMenuSecundario>img,
.menu {
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

.containerBuscador {
    display: flex;
    margin: auto;
}

.containerIconos {
    display: flex;
    gap: 1em;
    margin-right: 1em;
}

.carrito,
.iconoInicioSesion,
.lupa {
    margin: auto;
}

.lupa {
    cursor: pointer;
}

.containerBusqueda {
    display: flex;
    margin: auto;
    background-color: rgb(216, 216, 216);
    animation: busqueda 0.5s;
}

#buscador {
    animation: busqueda 0.5s;
    margin: auto;
    border: none;
    height: 1.5em;
    background-color: rgb(238, 238, 238);
    border-bottom: 2px solid black;
}

@keyframes busqueda {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

/* Dropdown container */
.desplegable {
    margin: auto 1em;
    width: 4em;
}

/* Dropdown button */
.botonDesplegar {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    background-color: #efefef;
}

.botonDesplegar:hover {
    background-color: #f9f9f9;
}

/* Dropdown content (hidden by default) */
.containerDesplegable {
    /* Mantenemos el resto de estilos */
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 5em;
    transition: right 0.3s;
}

.containerDesplegable.mostrar {
    transition: left 0.3s;
    /* Desplazar el menú hacia la posición original (derecha) */
}

/* Links inside the dropdown */
.containerDesplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.containerDesplegable a:hover {
    background-color: #f1f1f1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown.open .containerDesplegable {
    display: block;
}


form.contac {
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.flex-container input,
select {
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type="date"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #bdbdbd;
}